{% extends 'base.html' %}
{% load static %}
{% block title %}
    Lista Departamentos
{% endblock title %}
    
{% block content %}
    {% include 'includes/header.html' %}
    

    <div class="grid-container">
        <div class="grid-x">
           <h1 class=cell>Lista Departamentos</h1>
           <div class=cell>
                <table>
                    <tbody>
                        {% for departamentos in Departamento %}
                            <tr>
                                <td>
                                    {{departamentos.name}}
                                </td>
                                <td>
                                    {{departamentos.shor_name}}
                                </td>
                                <td>
                                    <a href="{% url 'persona_app:empleados-by-area-empleados' departamentos.shor_name %}" class="button">Ver Empleado</a>
                                    
                                </td>   
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
           </div>
        </div>

    </div>

{% endblock content %}
    